.footer{
    background-color: #7D9C5B;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: left;
}

.left{
    font-weight: bold;
}

.right{
    margin-top: 30px;
    font-weight: bold;
}

.icon{
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

i{
    color: black;
}

i:hover{
    color: white;
    transform: scale(1.5)
}